<div class = "expense-income-list-container">
  <div class = "item-container" *ngFor = "let item of value;let i = index">
      <app-expense-income-item  [(model)] = "item" [readonly] = "readonly"></app-expense-income-item>
      <button (click) = "removeItem(i)">remove</button>
  </div>
  <div class = "item-container">
    <app-expense-income-item *ngIf = "showTotal" [(model)] = "total" [readonly] = "true" [highlight] = "true"></app-expense-income-item>
  </div>
  <button class = "add-button" (click) = "addItem()" >add</button>
</div>