<div *ngFor = 'let budget of budgets'>
  {{budget.name}}: £{{budget.amount}}
</div>
<div>
  Subtotal after tax and Ni: £{{this.total}}
</div>
<div>
  Total after Expenses: £{{this.totalAfterExpenses}}
</div>
<div>
  Monthly Budget: £{{this.monthlyTotal}}
</div>
<div>
  Weekly Budget: £{{this.weeklyTotal}}
</div>
Monthly Expenses:
<app-expense-income-list *ngIf = "data?.expenses.monthly" [(model)] = "data.expenses.monthly"></app-expense-income-list>
Weekly Expenses:
<app-expense-income-list *ngIf = "data?.expenses.weekly" [(model)] = "data.expenses.weekly" [readonly] = "true"></app-expense-income-list>
<button (click) = "saveData()">
  Save
</button>
