Earnings:
<app-expense-income-list *ngIf = "data?.earnings" [(model)] = "data.earnings"></app-expense-income-list>
<div>
  Total after Expenses: £{{this.totalAfterExpenses | number: '1.2-2'}}
</div>
<div>
  Monthly Budget: £{{this.totalAfterExpenses/12 | number: '1.2-2'}}
</div>
<div>
  Weekly Budget: £{{this.totalAfterExpenses/52 | number: '1.2-2'}}
</div>
Yearly Expenses: 
<app-expense-income-list *ngIf = "data?.expenses.yearly" [(model)] = "data.expenses.yearly"></app-expense-income-list>
Monthly Expenses:
<app-expense-income-list *ngIf = "data?.expenses.monthly" [(model)] = "data.expenses.monthly"></app-expense-income-list>
Weekly Expenses:
<app-expense-income-list *ngIf = "data?.expenses.weekly" [(model)] = "data.expenses.weekly"></app-expense-income-list>
<button (click) = "saveData()">
  Save
</button>
<a routerLink="/spending">Track Spending</a>
